<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理员</title>
    <!-- css 文件 -->
    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css"/>-->
    <link rel="stylesheet" href="/css/foundation-datepicker.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css"/>
    <!-- jQuery 库 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js"></script>
    <!-- modernizr.js 文件 -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <style>

    </style>
</head>
<body style="overflow-y:hidden;padding-bottom: 20px;height:100%" >
<form action="/admin/admin">
    <fieldset>
        <legend>管理员列表</legend>
        <div style="width:100%;" class="left">
            <div class="small-1 columns">
                <input type="text" placeholder="姓名" name="name" th:value="${admin.name}"/>
            </div>
            <div class="small-1 columns">
                <input type="text" placeholder="用户名" name="username" th:value="${admin.username}"/>
            </div>
            <div class="small-2 columns">
                <input type="text" id="s_time" name="s_time" placeholder="添加起始时间" th:value="${admin.s_time}"/>
            </div>
            <div class="small-2 columns">
                <input type="text" id="e_time" name="e_time" placeholder="添加结束时间" th:value="${admin.e_time}"/>
            </div>
            <div class="small-1 columns">
                <select name="state" id="state">
                    <option>状态</option>
                    <option value="1">正常</option>
                    <option value="0">注销</option>
                </select>
            </div>
            <div class="small-1 columns">
                <input type="submit" style="width:100px;" class="button secondary tiny" value="查询"/>
            </div>
        </div>
    </fieldset>
</form>
<div style="height:100%;" id="admin_main">
    <!--responsive-->
    <table class="responsive" style="width: 100%;">
        <thead>
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>用户名</th>
            <th>时间</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.addtime}"></td>
            <td th:text="${user.state==1} ? '正常':'注销'"></td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="arrow"><a onclick="page(1)">«</a></li>
        <li><a onclick="page(1)">1</a></li>
        <li><a onclick="page(2)">2</a></li>
        <li><a onclick="page(3)">3</a></li>
        <li><a onclick="page(4)">4</a></li>
        <li><a onclick="page(5)">5</a></li>
        <li class="arrow"><a onclick="page(10)">»</a></li>
    </ul>
</div>
<script src="/js/foundation-datepicker.js"></script>
<script src="/js/foundation-datepicker.zh-CN.js"></script>
<script th:inline="javascript">
    //时间控件
    $('#s_time').fdatepicker({
        format: 'yyyy-mm-dd'
//        pickTime: true
    });
    //时间控件
    $('#e_time').fdatepicker({
        format: 'yyyy-mm-dd'
//        pickTime: true
    });
    //分页函数
    function page(page) {
        alert(page);
    }
    $(function () {
        //状态选择
        var state = [[${admin.state}]];
        $("#state option[value="+state+"]").attr('selected',true);
    })

    /*<![CDATA[*/
//    autodivheight();
//    function autodivheight(){ //函数：获取尺寸
//        //获取浏览器窗口高度
//        var winHeight=0;
//        if (window.innerHeight)
//            winHeight = window.innerHeight;
//        else if ((document.body) && (document.body.clientHeight))
//            winHeight = document.body.clientHeight;
//        //通过深入Document内部对body进行检测，获取浏览器窗口高度
//        if (document.documentElement && document.documentElement.clientHeight)
//            winHeight = document.documentElement.clientHeight;
//        //DIV高度为浏览器窗口的高度
//        document.getElementById("main").style.height= winHeight +"px";
//        //DIV高度为浏览器窗口高度的一半
//        alert(winHeight);
//        document.getElementById("main").style.minHeight= winHeight*2 +"px";
//    }
//    window.onresize=autodivheight; //浏览器窗口发生变化时同时变化DIV高度





    /*]]>*/
</script>
</body>
</html>