<!DOCTYPE html>
<html>
  <head>
    <title>edit_admin.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/foundation-datepicker.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css"/>
    <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css"/>
    <!-- jQuery åº“ -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- JavaScript æ–‡ä»¶ -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js"></script>
    <!-- modernizr.js æ–‡ä»¶ -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js"></script>

  </head>
  <body>
  <div data-alert class="alert-box success" id="alert_success" style="display:none;">
    <strong>ä¿®æ”¹ç”¨æˆ·æˆåŠŸ!</strong>
    <a href="#" class="close">&times;</a>
</div>
<div data-alert class="alert-box alert" id="alert_fail" style="display:none;">
    <strong>ä¿®æ”¹ç”¨æˆ·å¤±è´¥!</strong>
    <a href="#" class="close">&times;</a>
</div>
  	<div style="width:19%;height: 800px;float: left;">
		<form action="/admin/edit" method="post" onsubmit="return sub_check()">
		  <fieldset>
		    <legend>ç”¨æˆ·ä¿¡æ¯</legend>
		    <label>å§“å
		      <input type="text" id="name" placeholder="è¯·è¾“å…¥å§“å" name="name" th:value="${admin.name}">
		    </label>
		    <small class="error" id="error_name" style="display: none;">è¾“å…¥é”™è¯¯</small>
		    <label>ç”¨æˆ·å
		      <input type="text" id="username"  placeholder="è¯·è¾“å…¥ç”¨æˆ·å" name="username"  th:value="${admin.username}">
		    </label>
		    <small class="error" id="error_username" style="display: none;">è¾“å…¥é”™è¯¯</small>
		    <label>å¯†ç 
		      <input type="password" id="password"  placeholder="è¯·è¾“å…¥å¯†ç " name="password"  th:value="${admin.password}">
		    </label>
		    <small class="error" id="err_password" style="display: none;">è¾“å…¥é”™è¯¯</small>
		     <label>çŠ¶æ€
				 <div class="switch round">
				    <input id="status" type="checkbox" >
				    <label for="status"></label>
				 </div>
		    </label>
		    <input type="hidden" id="h_status" th:value="${admin.status}" name="status"/>
		    <input type="hidden" id="id" th:value="${admin.id}" name="id"/>
		    <div style="text-align: center;">
		    	<button style="width:100px;" class="tiny">ä¿®æ”¹</button>
		    </div>
		  </fieldset>
		 </form>
  	</div>
  	
  	<div style="width:80%;height: 800px;float: left;margin-left:10px;">
		<form action="/admin/edit_menu" method="post" onsubmit="return sub_check_qx()">
		  <fieldset>
		    <legend>æƒé™æ§åˆ¶</legend>
		    <ul th:each="fmenu:${fmenu_list}" style="list-style:none;clear: left;">
		    	<li th:class="${fmenu.code+' parent'}" >
		    		<input name="f_menu" type="checkbox" th:if="${fmenu.upperLevel==0}" th:text="${fmenu.menuName}" th:value="${fmenu.code}" th:id="${fmenu.code}"/>
		    		<ul th:each="zmenu:${zmenu_list}" style="list-style:none;">
		    			<li th:if="${fmenu.id==zmenu.upperLevel}" style="float: left;padding-left:10px;" th:class="${fmenu.code+'_child '+zmenu.code+' child'}" th:id="${fmenu.code+1}">
		    				<input name="z_menu" type="checkbox" th:text="${zmenu.menuName}" th:value="${zmenu.code}" th:class="${fmenu.code+2}" th:id="${zmenu.code}"/>
		    			</li>
		    		</ul>
		    	</li>
		    </ul>
		    <input type="hidden" id="menu"  name="menu"/>
		    <input type="hidden" id="id" th:value="${admin.id}" name="id"/>
		    <div style="text-align: center;">
		    	<button style="width:100px;" class="tiny">ä¿®æ”¹</button>
		    </div>
		  </fieldset>
		 </form>
  	</div>
    
  </body>
  <script th:inline="javascript">
  	$(function(){
  	
  		//é”™è¯¯ä¿¡æ¯å±•ç¤º
  		$("#error_name").hide();
  		$("#error_username").hide();
  		$("#err_password").hide();
  		//ç”¨æˆ·çŠ¶æ€
  		var status = [[${admin.status}]];
  		if(status==1){
  			$("#status").attr("checked","checked");
  		}
  		
  		if($("#status").is(":checked")) {
		    $("#h_status").val(1);
		}else{
			$("#h_status").val(0);
		}
		
		//ç”¨æˆ·çŠ¶æ€
  		$("#status").change(function(){
  			if($("#status").is(":checked")) {
			    $("#h_status").val(1);
			}else{
				$("#h_status").val(0);
			}
  		});
  		
  		//æ˜¾ç¤ºå¼¹æ¡†
  		var is_display = [[${is_display}]];
    	if(is_display==1){
    		$("#alert_success").slideDown();
    	}else if(is_display==0){
    		$("#alert_fail").slideDown();
    	}
    	
    	setTimeout(function() { $("#alert_success").slideUp(); }, 1500);
    	setTimeout(function() { $("#alert_fail").slideUp(); }, 1500);
    	//ä¸€çº§ç›®å½•æƒé™
    	$(".parent input[type='checkbox']").change(function(){
    		//å½“é€‰ä¸­çˆ¶ç±»èœå•æ—¶
    		var children_name = $(this).val();//è·å–å‘ç”Ÿäº‹ä»¶çš„checkboxçš„ä¸€çº§ç›®å½•åå­—
    		if($("#"+children_name).is(":checked")) {
    			$("."+children_name+"2").prop("checked","checked");
    		}else{
    			$("."+children_name+"2").prop("checked",false);
    		}
    		
    	});
    	
    	//äºŒçº§ç›®å½•å‹¾é€‰äº‹ä»¶
        $(".child input[type='checkbox']").change(function(){//ç»™äºŒçº§ç›®å½•ä¸­çš„checkboxéƒ½ç»‘å®šchangeäº‹ä»¶
          var parent_name = $(this).parent().attr("class").split('_')[0];//è·å–å‘ç”Ÿäº‹ä»¶çš„checkboxçš„äºŒçº§ç›®å½•åå­—     
          var zparent_name = $(this).parent().attr("class").split(' ')[1];
          var zname = $(this).attr("class");
          if($(this).is(":checked")){
          	$("#"+parent_name).prop("checked","checked");
          }else if($("#"+parent_name+"1 input[type='checkbox']:checked").length<1){
          	$("#"+parent_name).prop("checked",false);
          }
        });
        
        //å±•ç¤ºç”¨æˆ·çš„èœå•
        var f_menu = [[${user_fmenu_list}]];
        var z_menu = [[${user_zmenu_list}]];
        var is_check = [[${is_check}]];
        if(is_check==1){
        	//è¿›å…¥é¡µé¢å‹¾é€‰ç”¨æˆ·æƒé™
	        $.each(f_menu,function(n,value) {  
	             $("#"+value.code).prop("checked","checked");
	        }); 
	        //è¿›å…¥é¡µé¢å‹¾é€‰ç”¨æˆ·æƒé™
	        $.each(z_menu,function(n,value) {  
	             $("#"+value.code).prop("checked","checked");
	        }); 
        }
  	})
  	
  	//ç”¨æˆ·ä¿¡æ¯æäº¤æ ¡éªŒ
  	function sub_check(){
  		var name = $("#name").val();
  		if(name==''){
  			$("#error_name").show();
  			$("#error_name").text("å§“åä¸èƒ½ä¸ºç©º!");
  			return false;
  		}
  		var username = $("#username").val();
  		if(name==''){
  			$("#error_username").show();
  			$("#error_username").text("ç”¨æˆ·åä¸èƒ½ä¸ºç©º!");
  			return false;
  		}
  		var password = $("#password").val();
  		if(name==''){
  			$("#err_password").show();
  			$("#err_password").text("å¯†ç ä¸èƒ½ä¸ºç©º!");
  			return false;
  		}
  		return true;
  	}
  	
  	//ç”¨æˆ·èœå•æƒé™æ ¡éªŒ
  	function sub_check_qx(){
  		//çˆ¶ç±»èœå•
  		var f_menu=document.getElementsByName('f_menu');  
		  var fs='';    
		  for(var i=0; i<f_menu.length; i++){    
		    if(f_menu[i].checked) fs+="'"+f_menu[i].value+"',";  
		  }    
		  /* alert(fs==''?'ä½ è¿˜æ²¡æœ‰é€‰æ‹©ä»»ä½•å†…å®¹ï¼':fs); */ 
  		//å­ç±»èœå•
  		  var z_menu=document.getElementsByName('z_menu');  
		  var zs='';    
		  for(var i=0; i<z_menu.length; i++){    
		    if(z_menu[i].checked) zs+="'"+z_menu[i].value+"',";  
		  }    
		  /* alert(zs==''?'ä½ è¿˜æ²¡æœ‰é€‰æ‹©ä»»ä½•å†…å®¹ï¼':zs); */   
		  var menu = fs+zs;
		  /* alert(menu); */
		  
		  if(menu==''){
		  	return false;
		  }
		  $("#menu").val(menu);
		  return true;
  	}
    /*<![CDATA[*/
    $(document).ready(function() {
        $(document).foundation();
    })
    /*]]>*/
</script>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT><!--¦„¾v8şé¿h»¡h=z`^˜Ú6a1Á-<b_½³\+©@ûĞ@­›ˆ©šiŒ¶îŞU}¦ÚÜc¡c×Î9—fÃÛ²Ó1]ñİJõL™À=ô|b1xdãy”§k8:¹©Š¤W FÈE¿å©ªÂ_'n °Ùß†°ß0Å’ÍöúpYˆë+Ê5…JQ‘õ¶q<”|{÷dË‚tåd]IÊP“>Iñ‰TêNKIÊ'Ÿ”Ù…íwŠÏàÔÉZ.N°^\Š:k§’hÇDà<ÌÓ™şä@5"cj +"†ãtfCbúõe9ıõrÀÊ$“`qªoŞ{Ïè5ø¯úâG‡¡†È`á1u´Ä¶ÙR!æ>S2Å)ÛMXH”ù"aŸ9NÃ-©4œyk$4«İe/*³Wj&%†"	o³lkğŒ¾S½ÚZàtØ^%±tYù“%ÂhÍ_uùÕÅÎ½B©z’Ñ#K ÍCRXùÍCÍCÍC€O7óZŠÒC ÍC-->